@CHARSET "UTF-8";
body {        
	font-family:Impact;
/* 	letter-spacing: 1px; */
}
.bg {
    background-color: #FFFFCC;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-zie: cover;
    background-size: cover;
}
.container {
    width:100%;
    height:100%;
    position:absolute;
    display: table;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
}
#all-weather {
    position:relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#weather-desc {
    font-size: 30px;
    color:#33D6FF;
}
#weather-reaction {
	font-size: 30px;
    color: #ff3399;
}
#identifiers {
    visibility:hidden;
}
.locationForm {
    display:block;
    position:absolute;
    top:0;
    right:0;
    padding:0 10px 10px 0;
    color: #FFFFCC;
    font-size: 14px;
	text-align:right;
}
.ourinfo {
    display:block;
    position:absolute;
    bottom:0;
    right:0;
    padding:0 10px 10px 0;
    color: #FFFFCC;
    font-size: 10px;
	text-align:right;
}
.button {
	background: #FF3399;
	border: 1px solid #000066;
	margin: 3px;
}

.input {
	background: #33D6FF;
	border 1px solid #000066;
}